parameters:
    level: 0
    paths:
        - index.php
        - backend/
    excludePaths:
        analyseAndScan:
            - backend/storage/ (?)
            - vendor/ (?)
            - node_modules (?)
    tmpDir: /tmp/phpstan
