parameters:
    level: 1
    paths:
        - index.php
        - backend/
    excludePaths:
        analyseAndScan:
            - backend/storage/
            - vendor/
    tmpDir: /tmp/phpstan

includes:
    - phpstan-baseline.neon
